.page-sky {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to bottom, #470f50, #1ba2a8);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../assets/star-flow.png);
    background-size: 100% 100%;
    // background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mac {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 220px;
    width: 1088px;
    height: 829px;
    margin: auto;
    background-image: url(../../assets/mac.png);
    background-size: contain;
  }

  .cloud {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
    background-image: url(../../assets/sky-cloud.png);
    background-size: contain;
    background-repeat-y: no-repeat;
  }
}