.page-universe {
  height: 100vh;
  background-color: #0c040e;
  color: red;
  background-image: url(../../assets/universe_bg2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  #meteor {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .my-game {
    position: absolute;
    left: 450px;
    top: 200px;
    width: 900px;
    height: 500px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      background-image: url(../../assets/frame-top.png);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 50px;
      background-image: url(../../assets/frame-bottom.png);
      background-size: 100% 100%;
      transform: translateY(-10px);
    }

    &-lr {
      width: 100%;
      height: 100%;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 50px;
        height: 100%;
        background-image: url(../../assets/frame-lr.png);
        background-position-x: 0px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 50px;
        height: 100%;
        background-image: url(../../assets/frame-lr.png);
        background-position-x: 50px;
      }
    }

    > iframe {
      position: absolute;
      top: 10px;
      left: 50px;
      width: 800px;
      height: 500px;
    }
  }
}