.comp-experience {
  color: white;
  padding: 0 20px;
  height: 360px;
  overflow: auto;

  &_wrap {

    > *:not(:last-child) {
      margin-bottom: 20px;
    }

  }
}

.comp-experience-record {
  display: flex;
  align-items: center;

  &_logo {
    width: 120px;
    height: 80px;
    background-color: white;
    object-fit: contain;
    border-radius: 10px;
    user-select: none;
  }

  &_info {
    margin-left: 20px;
    font-size: 18px;;

    .info-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;

      &::after {
        content: attr(data-name);
        font-size: 12px;
        padding: 4px;
        background-color: #333;
        margin-left: 5px;
        vertical-align: middle;
        border-radius: 4px;
      }
    }
  }
}